body{
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    background-color: black;
    background: url('imgs/blackstarbg.png') repeat;
}

body h4{
    font-family: 'Lato', sans-serif;
}

/* ------------ CSS of index.html -------------- */

#psulogo{
    max-width: 8%;
}

.navbar.scrolled {
    background-color: #293b69bd;
    transition: background-color 500ms linear;
}

.dropdown-item{
    color: white;
    text-shadow: none;
}

.dropdown-menu{
    background-color: #293b69bd; 
}

#mainNavbar{
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
#mainNavbar .nav-link {
    color:rgb(221, 221, 221);
}

#mainNavbar .nav-link:hover {
    font-size: 1.2em;
    transition: font-size 100ms linear;
}

#mainNavbar .navbar-brand {
    color: rgb(221, 221, 221);
    font-size: 1.5rem;
}

.landingpage{
    height:100vh;
    width: 100%;
    background: url('imgs/blackstarbg.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 105;
}

.landingpage img.landinglogo{
    z-index:105;
    height:45%;
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
    border-radius: 50%;
    
	animation: float 3s ease-in-out infinite;
}

@media (max-width: 1181px) {
    .landingpage img.landinglogo {
        width: auto ;
        max-width: 70% ;
        height: auto ;
    }
  }



@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translate(-50%, -50%);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translate(-50%, -55%);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translate(-50%, -50%);
	}
}

.landingpage .landingclaw img{
    z-index:-1;
    height:70%;
    width:50%;
    position: absolute;
    opacity: 0.3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
}

@media (max-width: 1181px) {
    .landingpage .landingclaw img {
        width: auto ;
        max-width: 100% ;
        height: auto ;
    }
  }


.landingpage .gamesDiv img{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto; /* to keep proportions */
    height: auto; /* to keep proportions */
    max-width: 100%; /* not to stand out from div */
    max-height: 100%; /* not to stand out from div */
    margin: auto auto 0; /* position to bottom and center */
}


.header{
    text-align:center;
}

#nav-bar{
    position: absolute;
    width: 100%;
    z-index: 10;
    max-width: 100%;
}

#psu-logo{
    width:
}

.executive img{
    -webkit-box-shadow: 0px 0px 2px 4px #ebebf5;
    -moz-box-shadow: 0px 0px 2px 4px #ebebf5;
    box-shadow: 0px 1px 2px 2px #ebebf5; 
}

.executiveOutside img{
    height: 230px;
    width: 180px;
}

.executiveInside img{
    height: 255px;
    width: 180px;
}

.executiveMiddle img{
    height: 280px;
    width: 180px;
}

.carousel-item{
    height: 768px;
    max-width: 100%;
} 
.carousel-item img{
    height: 768px;
    max-width: 100%;
}


#event-header{
    padding-top: 2%;
    padding-bottom: -2%;
    color: white;
}

#event-header h4{
    color: rgb(190, 190, 190);
}

#about-header{
    margin-top: 5%;
    text-align: center;
}

#about{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color:rgba(35, 64, 109, .1);
    background-image: url('imgs/bluebgline.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#about-descripition{
    margin-top: 2%;
    text-align: center;
}

#about img{
    height: 70px;
    width: 76px;
}

#collage{
    align-content: center;
    background-color: #08172A;
}

#collage img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: auto;
    margin-bottom: 3%;
    margin-top: 2%;
}

@media screen and (max-width: 726px) {
    #collage {
      visibility: hidden;
      clear: both;
      float: left;
      margin: 10px auto 5px 20px;
      width: 28%;
      display: none;
    }
  }

.parallax-window {
    min-height: 400px;
    background: transparent;
}

#division-test{
    padding-bottom: 5%;
    background-color:rgba(35, 64, 109, .1);
    background-image: url('imgs/blackstarbgline.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.division-header{
    padding-top: 6%;
    text-align: center;
}

#divisions img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#divisionlogos{
    margin-top: 2%;
}

#divisionlogos-row2{
    padding-top: 1%;
}

#divisionlogos-row3{
    padding-top: 1%;
    padding-bottom: 2%;
}

#divlearnmore{
    text-align: center;
}

#sponsor-header{
    padding-top: 6%;
    padding-bottom: 1%;
    text-align: center;
}

#sponsors{
    padding-bottom: 5%;
    background-color:rgba(35, 64, 109, .1);
    background-image: url('imgs/bluebgline.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
#sponsors img{
    max-width: 100%;
    max-height: 100%;
    transition: transform .2s;
}

#sponsors img:hover{
    transform: scale(1.3);
}


#social-header{
    text-align: center;
}

#social{
    background-color: #08172a;
}
#social-test img{
    margin-top: 5%;
    margin-bottom: 15%;
    height: 175px;
    width: 175px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform .1s;
}

#social-test img:hover{
    transform: scale(1.1);
}

#footer{
    background-color: #0f1b2eee;
    color: #ffffff;
    font-size: .8em;
    padding-top: 2%;
    margin-top: 1.5%;
}

#footer a{
    color: white;
}

#footer img{
    height: 60px;
    display: inline-block;
    width: 60px;
}

#followus{
    text-align: center;
}

.division img{
    height: 250px;
    width: 180px;
    border-radius: 5%;
}

.twitchPadding{
    margin-bottom: 3%;
}

.divisionButton{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
hr.style-one {
    position: relative; 
    width: 6%;
    top: 10px; 
    border: none; 
    height: 8px; 
    background: white; 
    margin-bottom: 5%; 
    
}

hr.style-two {
    height: 8px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/* ------------ CSS of divisions.html -------------- */
#subNavbar{
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    background-color: #293b69bd;
}
#subNavbar .nav-link {
    color:rgb(221, 221, 221);
}

#subNavbar .nav-link:hover {
    font-size: 1.2em;
    transition: font-size 100ms linear;
}

#subNavbar .navbar-brand {
    color: rgb(221, 221, 221);
    font-size: 1.5rem;
}

#logosrow{
    text-align: center;
    margin-top: 1%;
}

#sublogos img{
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #ccc;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .1s;
}

#sub-footer-divisions{
    margin-top: 25%;
}

#sublogos img:hover{
    transform: scale(1.1);
}

.tab-content strong{
    color: #779ecb;

}

.inner_div img{
    max-width: 100%;
    width: 1080px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#subdiv{
    padding-bottom: 10%;
}

/* ------------ CSS of psu-fall-event.html -------------- */

#fallevent img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 7px 4px #777;
	-moz-box-shadow: 0 7px 4px #777;
    box-shadow: 0 7px 4px #777;
    transition: all .2s ease-in-out;
}

#fallevent img:hover{
    transform: scale(1.1);
}

.jumbotron{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("imgs/Fall_Event_Deck/jumboimg.jpg");
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    height: 50%;
    width: 100%;
    color: white;
}

#slides{
    margin-bottom: 2%;
}

#slides img{
    border: solid 10px rgba(0, 0, 0, 0.171);
    height: 100%;
    width: 85%;
    object-fit: cover
}

/* ------------ CSS of contact.html -------------- */

#contactPage{
    margin-top: 2%;
}
form {
    width: 400px;
    height: 450px;
    margin: auto;
    position: relative;
  }

#fs-frm-inputs {
    width: 375px;
  }

input{
    width: 400px;
    border-radius: 5px;
}

input[type=submit]{
    width: 200px;
    margin-left: 25%;
    background-color: #B9DFFF;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee; 
    text-shadow:none;
    transition: transform 1s;
}

input[text=submit]:hover{
    transform: scale(1.5);
}

textarea{
    border-radius: 10px;
    width: 400px;
}

#emailForm p{
    margin-left: 12.66%;
}

#emailForm{
    border-left: 1px solid rgba(92, 92, 92, 0.719);
}
/* ------------ CSS of about.html -------------- */

#aboutus{
    margin-top: 2%;
}

.bluetext{
    margin-top: 4%;
    font-weight: 700;
    color: #779ecb;
    font-size: 1.1rem;
}

.jumbotron-about{
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("imgs/aboutheader.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    height: 50%;
    width: 100%;
    color: white;
}



#eboard {
    text-align: center;
}

#aboutus{
    margin-bottom: 1.66%;
}
#eboard img{
    float: left;
    width: 150px;
    height: 150px;
    margin: 1.66%;
    border-radius: 15%;
}

#eboard-container{
    margin-top: 2%;
    line-height: 50%;
    border-color: white;
    border-radius: 10%;
}

#eboard-container img{
    border: 1px solid white;
    margin-bottom: 20px;
}

.eboard-title{
    font-weight: 800;
    padding-bottom: -1%;
    letter-spacing: 2px;
    color: #779ecb;
}
/* ------------ CSS of about.html -------------- */

#merchPic{
    margin-top: 1.66%;
}

#merchPic img{
    float: left;
    width: 250px;
    height: 300px;
}

.merchinfo{
    text-align: center;

}

#merchPic .colorMerch img{
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    margin: 1%;
    margin-top: -1%;
    
}

.colorMerch{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.merchOrder{
    color: white;
    font-size: 2em;
}

@media only screen and (max-width: 1026px) {
    #events {
        display: none;
    }
}